html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #979797;
}
#header {       
        height: 100%;
        width: 100%;
        display: flex;
        flex-flow: column;
}
.fond {     
    background-size: 100%;   
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    
}
.lien{
    border: 1 black;
    border-color: black;
}
.navbar{

    justify-content: center;
}
.liNavbar
{
	font-weight: 900;
	font-size:1.2em;
}
.lienBouton{
    text-decoration: none;
    color: #ff08e1;
    font-size: 2.75rem;
    border-radius: 40px;
    border: 10px solid transparent;
    background-color:#3C4143;
}
.lienBoutonConnexion{
    color: #ff08e1;
    font-size: 1rem;
    border-radius: 40px;
    border: 8px solid transparent;
    background-color:#3C4143;
}

.infoProfil{
    color: white;
 
}
.emprunts{
    color: black;

}
h2{
    color: rgb(77, 235, 77);
}